body{
    margin: 0px 180px;
}

header{
    border-bottom: 2px solid #d3c7c7;
}

.head-1{
    color: blue;
}

.img{
    width: 1200px;
    height: 600px;
    margin-top: 20px;
}

.description{
    width: 650px;
}

video{
    width: 1200px;
    height: 600px;
    margin-top: -15px;
    margin-bottom: 20px;
}

.foot{
    border-top: 1px solid #d3c7c7;
}