.block{
    font-family:"Open Sans" serif;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    text-align: left;
}
.block1 {
    font-family: "Playfair Display", serif;
    text-decoration: line-through;
    text-align: left;
}
.block2{
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    text-align: center;
}
.block3{
    font-family: "Open Sans" serif;
    text-decoration: overline wavy;
    text-shadow: 0px 0px 5px purple;
    word-spacing: 30px;
    letter-spacing: 10px;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}
.block4{
    text-transform: capitalize;
    font-size: 20px;
    line-height: 30px;  
    text-decoration: underline double;
    text-align: right;
}
.block5{
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-indent: 30px;
    text-decoration: line-through dotted;
    text-shadow: 3px 3px 4px red;
    transform: rotate(-15deg);
}