.mam{
    background: rgb(235, 191, 191);
    height: 800px;
    overflow: auto;
    border-left: 10px groove #7f7dee;
    border-top: 5px groove #7f7dee;
    border-bottom: 5px groove #7f7dee;
    border-right: 2px solid #7f7dee;
    border-radius: 40px 0 0 40px;
    margin: 10px;
}
.child{
    background: #8ea6d3;
    display: inline-block;
    max-width: 250px;
    border: 5px double #7f7dee;
    border-radius: 40px;
    padding: 20px 10px;
    margin: 10px;
    box-shadow: inset 0px 0px 5px 2px #080707;
    cursor: pointer;
    text-align: center;
}
.child:hover{ /* hover при наведении курсором */
    background: rgb(238, 142, 142);
    cursor: pointer; /* при наведении курсором ощущение кнопки */
    transition: 0.3s; /* задержка при наведении  */
}